@import "tailwindcss";

/* Variables de couleur personnalisées */
:root {
  --color-primary: oklch(70.5% 0.213 47.604);
  --color-accent: #3b82f6;
  --color-gray-light: #f3f4f6;
  --rounded-corners: 0.5rem;
  --hover-scale: 1.05;

  --color-background: #ffffff;
  --color-text: #000000;
  --color-text-secondary: #4a4a4a;
  --color-border: #e5e5e5;
  --color-titre: #000000;
  --color-accent: #ffffff;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  body, p, a, span {
    font-family: 'Poppins', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

/*
  COMBO 1 — Luxe & Premium
font-family:   'Playfair Display', serif;
font-family:    'Inter', sans-serif;
*/

/*
  COMBO 2 — Moderne & Minimaliste
font-family:   'Poppins', sans-serif;
font-family:    'Inter', sans-serif;
*/

/*
  COMBO 3 — Élégance éditoriale (magazine)
font-family:   'Cormorant Garamond', serif;
font-family:    'Work Sans', sans-serif;
*/

/*
  COMBO 4 — Coaching / Haut de gamme
font-family:   'Cinzel', serif;
font-family:    'Lato', sans-serif;
*/

/*
  COMBO 5 — Startup / SaaS / Web3
font-family:   'Space Grotesk', sans-serif;
font-family:    'Inter', sans-serif;
*/

/*
  COMBO 6 — Bold / Minimal Identity
font-family:   'Sora', sans-serif;
font-family:    'Manrope', sans-serif;
*/

/*
  COMBO 7 — Friendly & soft
font-family:   'Quicksand', sans-serif;
font-family:    'Nunito', sans-serif;
*/
