@import "tailwindcss";

/* Variables de couleur personnalisées */
:root {
  --color-primary: oklch(70.5% 0.213 47.604);
  --color-text: #1f2937;
  --color-accent: #3b82f6;
  --color-background: #ffffff;
  --color-gray-light: #f3f4f6;
  --color-titre: #083eb3;
  --color-border: #e5e7eb;
  --rounded-corners: 0.5rem;
  --hover-scale: 1.05;
  --color-accent-light: #60a5fa;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  body, p, a, span {
    font-family: 'Poppins', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}
