@import "tailwindcss";

/* Variables de couleur personnalisées */
:root {
  --color-primary: #2563eb;     /* Bleu principal */
  --color-text: #1f2937;        /* Gris très foncé pour le texte */
  --color-accent: #3b82f6;      /* Bleu plus clair pour les accents */
  --color-background: #ffffff;   /* Blanc pour le fond */
  --color-gray-light: #f3f4f6;  /* Gris clair pour les sections alternées */
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  body, p, a, span {
    font-family: 'Poppins', sans-serif;
  }
}